# Byte-compiled files
*.pyc
__pycache__/

# Virtual environment
venv/

# Build directories
build/
dist/

# Log files
*.log

# macOS system files
.DS_Store

# IDE configuration files
.vscode/
.idea

# temp
    # data
data/
    # png
*.png